extends base

block vars
  - var title = "Home"

block body
  .page-header
    h1 SS Auth #[small Stupid-Simple Authentication]
  .container.home
    .vertical-center
      .jumbotron
        p.
          Please #[a(href="/register") register] or #[a(href="/login") login]
          to continue!
