extends base

block vars
  - var title = "Home"

block body
  .page-header
    h1 SS Auth
      small Stupid-Simple Authentication
  p.
    Welcome to the SS Auth home page.  Please
    <a href="/register">register</a> or <a href="/login">login</a> to continue!
