h1 {
  text-align: center;
}

.home .vertical-center p {
  text-align: center !important;
}

.vertical-center {
  min-height: 80%;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.home .jumbotron {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  font-size: 1.5em;
}
